.bn3637 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    backface-visibility: hidden;
    border: 0.1rem solid transparent;
    border-radius: 3rem;
    width: 120px;
    padding: 5px;
}

.bn36 {
    border-color: #000000;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.bn36:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
    color: rgb(0, 0, 0);
    background-color: rgb(232, 232, 232);
    transition: background-color 1s;
}

.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border-color: rgb(215, 215, 215);
    border: solid 0.5px;
}

.black{
    background-color: black;
}
.blue{
    background-color: rgb(6, 72, 123);
}
.red{
    background-color: rgb(225, 55, 56);
}
.purple{
    background-color: rgb(184, 175, 230);
}
.rightGreen{
    background-color: rgb(221, 244, 218);
}
.white{
    background-color: rgb(249, 245, 244);
}
.pink{
    background-color: rgb(247, 220, 213);
}
.green{
    background-color: rgb(57, 76, 56);
}
.gold{
    background-color: rgb(245, 231, 204);
}
img {
    margin: auto;
    display: block;
}

